

.logo{
  display:inline-block;
  margin-top:20px;
  padding-top: 12px;
}

header ul{
    display:flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 16px;
}

header li{
    padding:0 16px;
}



#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  
  #modal {
    background: #fff;
    width: 1000px;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.4s;
    z-index: 2;
  }
  
  #mask.hidden {
    display: none;
  }
  
  #modal.hidden {
      display: none;
    /* transform: translate(0, -3000px); */
  }

  #js-termset{
    list-style: none;
    padding:0;
  }

  .js{
    background-color:white;
    color:#0044CC;
  }

  .js:hover{
    background-color:rgb(232, 225, 225);
  }

  #vertical-js{
    list-style: none;
    padding:0;
  }